<% if !user_signed_in? # if the user is not signed in, render this %>
    <style>
        body{
            background: linear-gradient( /* Somewhat transparant flim on top of the BG make it look darker */
            rgba(0,0,0, 0.1),
            rgba(0,0,0, 0.1)
            ), url("/bg1.jpg") no-repeat center center fixed
            
            
            ; /* Only display once, center horizontal and vertical, dont let scroll change position. */
            -webkit-background-size: cover;
            -moz-background-size: cover; /* Cover the whole html element */
            -o-background-size: cover;
            background-size: cover;
        }
        h1{
            color: white;
            font-weight: bold;
        }
        .container-index{
            margin-right: 15%;
            margin-left: 15%;
        }
        .text{
            color: white;
            font-weight: 300;
            font-size: 150%;
        }
        .footer-links{
            text-align: center;
            color: white;
            margin-top: 7%;
            font-size: 80%;
        }
        .log-in{
            float: right;
            width: 350px;
            height: 150px;
            margin-top: 7.5%;
        }
        .sign-up{
            float: right;
            width: 350px;
            height: 250px;
        }
    </style>
    <div class="container-index row">
        <div class="col-sm-6">
            <h1> Great Welcome to Fairy World.</h1>
            <p class="text">
                Connect with your fellows, either inside or outside house.<br> 
                Chat with new friends. Share your finding.Just like a blog,  <br>
                but with less characters! Simply start now by signing up. 
            </p>
        </div>
        
        <div class="col-sm-6">
            <div class="log-in panel">
                Log In
                <%= form_for(:user, :url => session_path(:user)) do |f| %>
                  <%= f.text_field :email %>
                  <%= f.password_field :password %>
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                  <%= f.submit 'Sign in' %>
                  <%= link_to "Forgot your password?", new_password_path(:user) %>
                <% end %>
            </div>
            <div class="sign-up panel">
                Sign Up

            </div>

        </div>
        
        <div class="col-sm-12">
            <p class="footer-links">
                About  Help  Blog  Status  Jobs  Terms  Privacy  Cookies  Ads  info  Brand  Apps  Advertise  Businesses  Media  Developers  Directory ©2016 FairyFlutter
            </p>
        </div>
    </div>

<% else # If the user IS signed in, render the following %>

    <script> document.location ="/home"</script>
<% end %>